<header class="w-screen h-20 flex flex-row justify-between items-center mt-5">
  <a
    class="max-md:ml-5 ml-10 flex flex-row space-x-5 cursor-pointer pb-8 mr-10"
    [routerLink]="['/']"
    routerLinkActive="router-link-active"
  >
    <i class="fa-solid fa-camera-retro text-2xl max-sm:text-lg"></i>
    <p
      class="text-white text-3xl font-light font-roboto drop-shadow-lg max-sm:text-xl"
    >
      PhotoForum
    </p>
  </a>
  <div
    class="flex flex-row h-full md:w-3/5"
    [ngClass]="{ hidden: isAtHomeUrl === false }"
  >
    <div
      class="rounded-full bg-white h-10 w-10 max-sm:w-6 max-sm:h-6 max-sm:mt-3 mx-10 text-black max-sm:text-2xl text-5xl flex justify-center items-center drop-shadow-md cursor-pointer !overflow-visible"
      *ngIf="this.authService.isAuthorizedUser"
      [routerLink]="['/add-photo']"
      routerLinkActive="router-link-active"
    >
      <p class="mb-1 sm:mb-2 hover:text-gray-400">+</p>
    </div>
    <div
      class="relative w-3/4 max-md:hidden text-black font-roboto font-extralight"
    >
      <i class="absolute left-4 top-3 fa-solid fa-magnifying-glass z-40"></i>
      <input
        type="search"
        placeholder="wyszukaj zdjęcie..."
        [(ngModel)]="searchPhrase"
        (input)="handleSearch()"
        class="rounded-2xl h-4 p-5 pl-10 drop-shadow-md w-full"
      />
    </div>
  </div>
  <div
    class="flex flex-row items-center justify-center h-full mt-5 space-x-2 mx-5"
  >
    <p
      class="font-roboto font-normal text-xl mb-12 text-nowrap max-md:hidden"
      *ngIf="this.authService.isAuthorizedUser"
    >
      Witaj, {{ this.authService.authorizedUserName }}
    </p>
    <i
      class="fa-solid fa-user max-md:mr-5 mr-10 justify-self-end text-2xl max-sm:text-xl cursor-pointer h-full sm:px-5 hover:text-gray-400"
      [ngClass]="{ 'text-gray-400': isPopupOpened === true }"
      (click)="isPopupOpened = !isPopupOpened"
    ></i>
  </div>
</header>
<div
  class="flex flex-row relative w-screen items-center justify-center md:hidden text-black font-roboto font-extralight"
  [ngClass]="{ hidden: isAtHomeUrl === false }"
>
  <div class="relative w-[90%]">
    <i class="absolute left-4 top-3 fa-solid fa-magnifying-glass z-40"></i>
    <input
      type="search"
      placeholder="wyszukaj zdjęcie..."
      [(ngModel)]="searchPhrase"
      (input)="handleSearch()"
      class="rounded-2xl h-4 p-5 pl-10 drop-shadow-md w-full"
    />
  </div>
</div>
<app-header-popup
  [isOpened]="isPopupOpened"
  (isOpenedChanged)="isPopupOpened = $event"
/>
