<footer class="w-screen h-10 flex flex-row justify-between items-center my-5">
  <a
    class="w-1/3 max-sm:w-1/2 max-md:ml-5 ml-10 flex flex-row space-x-5"
  >
    <i class="fa-solid fa-camera-retro text-2xl mt-1 max-sm:text-lg"></i>
    <p
      class="text-white text-3xl font-light font-roboto drop-shadow-lg max-sm:text-xl max-sm:mt-1"
    >
      PhotoForum
    </p>
  </a>
  <p
    class="w-1/3 max-sm:hidden text-black font-roboto font-light text-2xl text-nowrap mx-5 text-center"
  >
    © PhotoForum 2025
  </p>
  <div
    class="flex flex-row w-1/3 max-sm:w-1/2 max-sm:text-xl text-4xl justify-end max-sm:mt-1 mr-5"
  >
    <a
      href="https://github.com/miluski/PhotoForum"
      class="fa-brands fa-github hover:text-gray-500"
      target="_blank"
    ></a>
    <a
      href="https://facebook.com"
      class="fa-brands fa-facebook hover:text-[#1877F2] mx-10"
      target="_blank"
    ></a>
    <a
      href="https://linkedin.com"
      class="fa-brands fa-linkedin hover:text-[#0e76a8]"
      target="_blank"
    ></a>
  </div>
</footer>
