@import "tailwindcss";

body {
  background-image: url('/static/background.png');
  /* background-color: rgb(128, 128, 128); */
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}
